langchain
pypdf2
python-dotenv
streamlit
unstructured[all-docs]
pillow
lxml
tiktoken
langchain-community
langchain-openai
langchain-groq
pymupdf
opencv-python
reportlab
python-pptx
rank-bm25
pysqlite3
pysqlite
pysqlite3-binary